.product
  p 这是商品信息组件
  p 商品编号:{{product.id}}
  p 商品类型:{{product.productType}}
  div
    a([routerLink]="['./']") 商品描述
    | &nbsp;
    a([routerLink]="['./seller',product.sellerId]") 销售员信息
    | &nbsp;
    a([routerLink]="['./',{outlets:{productaux:'aux1'}}]") 打开
    | &nbsp;
    a([routerLink]="['./',{outlets:{productaux:null}}]") 关闭
  router-outlet
  router-outlet(name="productaux")